# Production config
appsettings.Production.json
appsettings.Development.json

# Certificates
*.pfx
*.pem
*.key

# Build files
bin/
obj/
publish/
wwwroot/lib/

# User-specific
*.user
*.suo
*.db
.vscode

node_modules/
.env
.env.production
